.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/GannSmithCOP6991Project_1_0_SNAPSHOT.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_mockito_mockito_all_1_9_5.xml
.idea/libraries/Maven__org_mockito_mockito_core_1_9_5.xml
.idea/libraries/Maven__org_objenesis_objenesis_1_0.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
COP6991.iml
GannSmithCOP6991Project.iml
target/GannSmithCOP6991Project-1.0-SNAPSHOT.jar
target/classes/Calculate.class
target/maven-archiver/pom.properties
target/test-classes/TestCalculate.class
